<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Titulo</th>
          <th>Duracion en Horas</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @labours.each do |labour| %>
          <tr>
              <td><%= labour.labour.title %></td>
              <td><%= labour.duration %></td>
              <td><%= labour.description %></td>
              <td><div><%= link_to 'Eliminar', delete_labour_service_path(labour.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: '¿Estás seguro?'
                    }, class: "btn btn-danger me-2"
              %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>