<h1>Lista de Servicios</h1>

<%= link_to 'Nuevo servicio', new_service_path %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>cliente</th>
      <th>Tecnico</th>
      <th>Fecha de inicio</th>
      <th>Fecha final</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'service', collection: @services %>
  </tbody>
</table>