<tr>
  <td>
    <%= link_to skill_path(skill) do %>
      <%= skill.skill.name %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Eliminar', delete_skill_technician_path(skill_id: skill.id, technician_id: skill.technician_id), data: {
      turbo_method: :delete,
      turbo_confirm: '¿Estás seguro?'
    } %>
  </td>
  <td>
    <%= skill.level %>
  </td>
</tr>
