<tr>
  <td>
    <%= link_to technician_path(technician) do %>
     <%= technician.name %>
    <% end %>
  </td>

  <td>
    <%= technician.age %>
  </td>

  <td>
    <%= technician.speciality %>
  </td>
</tr>