<tr>
  <td>
    <%= skill.id %>
  </td>
  <td>
      <%= skill.name %>
  </td>
  <td>
    <div>
      <%= link_to 'Editar', edit_skill_path(skill) %>
        <%= link_to 'Eliminar', skill_path(skill), data: {
          turbo_method: :delete,
          turbo_confirm: '¿Estás seguro?'
        }   
      %>
    </div>
  </td>
</tr>