<h1>Lista de Habilidades</h1>

<%= link_to 'Nueva Habilidad', new_skill_path %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Habilidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'skill', collection: @skills %>
  </tbody>
</table>