<div>
    <% @subcategories.each do |subcategory| %>
        <%= link_to category_path(subcategory) do %>
            <div>
                <%= subcategory.name %>

            </div>
            <div>
                <%= link_to 'Edit', edit_category_path(subcategory.id) %>
                <%= link_to 'Eliminar', category_path(subcategory), data: {
                    turbo_method: :delete,
                    turbo_confirm: '¿Estás seguro?'
                } %>
            </div>
        <% end %>
    <% end %>
</div>