<%= render partial: 'shared/back_button', locals: { back_path: @category.build_back_path } %>

<div class="row justify-content-center">
  <%= render partial: 'category', locals: { category: @category } %>
</div><hr>

<div class="row justify-content-center">
  <%= render partial: 'category', collection: @subcategories %>
</div>